body {
    background-color: cornflowerblue;
    color:black;
    padding: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: black;
    color: white;
    border-radius: 30px;
    border-color: white;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    padding: 20px 80px 20px 80px;
}

p {
    font-size: 26px;
    text-align: center;
}

#buttons {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;

}